@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-4xl font-bold text-black mb-3">Welcome</h1>
    <h4>Now you're in Home Section</h4>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
